developSetting/OpenJDK-21/bin/awt.dll
developSetting/OpenJDK-21/bin/extnet.dll
developSetting/OpenJDK-21/bin/fontmanager.dll
developSetting/OpenJDK-21/bin/freetype.dll
developSetting/OpenJDK-21/bin/java.dll
developSetting/OpenJDK-21/bin/jimage.dll
developSetting/OpenJDK-21/bin/jsvml.dll
developSetting/OpenJDK-21/bin/management_ext.dll
developSetting/OpenJDK-21/bin/management.dll
developSetting/OpenJDK-21/bin/msvcp140.dll
developSetting/OpenJDK-21/bin/net.dll
developSetting/OpenJDK-21/bin/nio.dll
developSetting/OpenJDK-21/bin/splashscreen.dll
developSetting/OpenJDK-21/bin/vcruntime140_1.dll
developSetting/OpenJDK-21/bin/vcruntime140.dll
developSetting/OpenJDK-21/bin/verify.dll
developSetting/OpenJDK-21/bin/zip.dll
developSetting/OpenJDK-21/bin/server/jvm.dll
developSetting/OpenJDK-21/lib/modules
